<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Puja Path - Aapki Puja, Hamara Wada</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}">


    <!-- Customized Bootstrap Stylesheet -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Template Stylesheet -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div class="cursor"></div>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-secondary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-secondary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-danger"></i> <a href="#"
                            class="text-white">123 Street, New York</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-danger"></i><a href="#"
                            class="text-white">Email@Example.com</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                    <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small></a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-secondary display-6">Puja Path</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">

                    </div>

                </div>
                <a href="/" class="my-auto">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                </a>
        </div>
    </div>
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3" placeholder="keywords"
                            aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Search End -->

    <body>

        <!-- Buttons of admin -->
        <div class="category-buttons">
            <button class="category-btn" onclick="toggleSection('puja-samagri')">Puja Samagri</button>
            <button class="category-btn" onclick="toggleSection('pandit-details')">Pandit Details</button>
            <button class="category-btn" onclick="toggleSection('temples-details')">Temples</button>
            <button class="category-btn" onclick="toggleSection('service-details')">Puja Services</button>
            <button class="category-btn" onclick="toggleSection('users')">Users</button>
            <button class="category-btn" onclick="toggleSection('orders')">Orders</button>
            <button class="category-btn" onclick="toggleSection('prasadam-details')">Prasadam</button>
        </div>

        <!-- Puja Samagri -->

        <div id="puja-samagri" class="category-content" style="display: none;">
            <h2 class="category-title">Puja Samagri</h2>
            <button type="button" class="edit-btn" onclick="toggleFormVisibility()">Add new Puja Samagri</button>
            <form action="/add" id="addItemForm" style="display: none; margin-top: 20px; margin-bottom: 20px;"
                action="/add" method="post">
                <input type="text" name="name" placeholder="Item Name" required>
                <input type="number" name="price" placeholder="Item Price" required>
                <input type="text" name="description" placeholder="Description" required>
                <button type="submit" class="edit-btn">Add Item</button>
            </form>

            <table class="category-table">
                <thead>
                    <tr>
                        <th>Puja Samagri Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in l %}

                    <form action="/updateSamagri/{{i[0]}}" method="POST">
                        <tr data-id="{{ loop.index }}">
                            <td><input type="text" name="name" value="{{i[1]}}"></td>
                            <td><input type="text" name="price" value="{{i[2]}}"></td>
                            <td><input type="text" name="description" value="{{i[3]}}"></td>
                            <td>
                                <button type="submit" class="edit-btn">Update</button>
                    </form>
                    <a href="/p_delete/{{i[0]}}"><button class="edit-btn">Delete</button></a>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Puja Services -->

        <div id="service-details" class="category-content" style="display: none;">
            <h2 class="category-title">Puja Services</h2>
            <button type="button" class="edit-btn" id="toggleServiceFormBtn">Add new Puja Service</button>
            <form action="/addService" id="addServiceForm" style="display: none; margin-top: 20px; margin-bottom: 20px;"
                method="post">
                <input type="text" name="name" placeholder="Service Name" required>
                <input type="number" name="price" placeholder="Service Price" required>
                <input type="text" name="description" placeholder="Description" required>

                <button type="submit" class="edit-btn">Add Service</button>
            </form>

            <table class="category-table">
                <thead>
                    <tr>
                        <th>Puja Service Name</th>

                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in k %}
                    <form action="/UpdateService/{{j[0]}}" method="POST">
                        <tr data-id="{{ loop.index }}">
                            <td><input type="text" name="name" value="{{j[1]}}"></td>
                            <td><input type="text" name="description" value="{{j[2]}}"></td>
                            <td><input type="text" name="price" value="{{j[3]}}"></td>
                            <td>
                                <button type="submit" class="edit-btn">Update</button>
                    </form>
                    <a href="/deleteService/{{j[0]}}"><button class="edit-btn">Delete</button></a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Pandit details -->

        <div id="pandit-details" class="category-content" style="display: none;">
            <h2 class="category-title">Pandit Details</h2>
            <table class="category-table">
                <thead>
                    <tr>
                        <th>Pandit Name</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in pandit %}
                    <form action="/updatePandit/{{j[0]}}" method="post">
                        <tr data-id="{{loop.index}}">
                            <td><input type="text" name="name" value="{{j[1]}}"></td>
                            <td><input type="text" name="location" value="{{j[2]}}"></td>
                            <td>
                                <button type="submit" class="edit-btn">Update</button>
                    </form>
                    <a href="/pandit_delete/{{j[0]}}"><button class="edit-btn">Delete</button></a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Users -->

        <div id="users" class="category-content">
            <h2 class="category-title">Users</h2>
            <table class="category-table">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k in user %}
                    <tr data-id="3">
                        <td>{{k[0]}}</td>
                        <td>{{k[1]}}</td>
                        <td>{{k[2]}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- temples  -->

        <div id="temples-details" class="category-content" style="display: none;">
            <h2 class="category-title">Temples</h2>
            <button class="edit-btn" onclick="toggleFormTemple()" id="toggleTempleFormBtn">Add Temple</button>
            <form id="addTempleForm" style="display: none; margin-top: 20px; margin-bottom: 20px;" action="/addTemples"
                method="post">
                <input type="text" name="t_name" placeholder="Temple Name" required>
                <input type="text" name="p_name" placeholder="Puja Name" required>
                <input type="text" name="location" placeholder="Location" required>
                <input type="number" name="price" placeholder="Price" required>
                <input type="text" name="description" placeholder="Description" required>
                <button type="submit" class="edit-btn">Add Temple</button>
            </form>

            <table class="category-table">
                <thead>
                    <tr>
                        <th>Temple Name</th>
                        <th>Puja Name</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in t %}
                    <tr>
                        <form action="/updateTemple/{{r[0]}}" method="POST">
                            <td><input type="text" name="t_name" value="{{ r[1] }}"></td>
                            <td><input type="text" name="p_name" value="{{ r[2] }}"></td>
                            <td><input type="text" name="location" value="{{ r[3] }}"></td>
                            <td><input type="number" name="price" value="{{ r[4] }}"></td>
                            <td><input type="text" name="description" value="{{ r[5] }}"></td>
                            <td>
                                <button type="submit" class="edit-btn">Update</button>

                                <form action="/deleteTemple/{{r[0]}}" method="POST">
                                    <button type="submit" class="edit-btn">Delete</button>
                                </form>
                            </td>
                        </form>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <!-- prasadam -->

        <div id="prasadam-details" class="category-content" style="display: none;">
            <h2 class="category-title">Prasadam Items</h2>
            <button type="button" class="edit-btn" onclick="togglePrasadamForm()" id="togglePrasadamFormBtn">Add new
                Prasadam</button>
            <form action="addPrasadam" id="addFormPrasadam"
                style="display: none; margin-top: 20px; margin-bottom: 20px;" method="post">
                <input type="text" name="name" placeholder="Prasadam Name" required>
                <input type="number" name="price" placeholder="Prasadam Price" required>
                <button type="submit" class="edit-btn">Add Prasadam</button>
            </form>

            <table class="category-table">
                <thead>
                    <tr>
                        <th>Prasadam</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in prasad %}
                    <tr>
                        <form action="/prasadamUpdate/{{j[0]}}" method="POST">
                            <td><input type="text" name="name" value="{{j[1]}}"></td>
                            <td><input type="text" name="price" value="{{j[2]}}"></td>
                            <td>
                                <button type="submit" class="edit-btn">Update</button>
                        </form>
                        <a href="/deletePrasadam/{{j[0]}}"><button class="edit-btn">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- <div id="orders" class="category-content">
                <h2 class="category-title">Orders</h2>
                <table class="category-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>User Name</th>
                            <th>Order Date</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-id="4">
                            <td>123456</td>
                            <td>User ABC</td>
                            <td>2022-01-01</td>
                            <td>2</td>
                            <td>
                                <button class="edit-btn" onclick="editItem('orders', 4)">Edit</button>
                                <button class="edit-btn" onclick="deleteItem('orders', 4)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(234, 241, 8, 0.923) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <h1 class="text-success mb-0">PujaPath</h1>
                                <p class="text-secondary mb-0">Aapki Puja, Hamara Wada</p>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number"
                                    placeholder="Your Email">
                                <button type="submit"
                                    class="btn btn-secondary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                                    style="top: 0; right: 0;">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                        class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                        class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                        class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Why People Like us!</h4>
                            <p class="mb-4">typesetting, remaining essentially unchanged. It was
                                popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                            <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-secondary">Read
                                More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Shop Info</h4>
                            <a class="btn-link" href="">About Us</a>
                            <a class="btn-link" href="">Contact Us</a>
                            <a class="btn-link" href="">Privacy Policy</a>
                            <a class="btn-link" href="">Terms & Condition</a>
                            <a class="btn-link" href="">Return Policy</a>
                            <a class="btn-link" href="">FAQs & Help</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Account</h4>
                            <a class="btn-link" href="">My Account</a>
                            <a class="btn-link" href="">Shop details</a>
                            <a class="btn-link" href="">Shopping Cart</a>
                            <a class="btn-link" href="">Order History</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Contact</h4>
                            <p>Address: 1429 Netus Rd, NY 48247</p>
                            <p>Email: Example@gmail.com</p>
                            <p>Phone: +0123 4567 8910</p>
                            <p>Payment Accepted</p>
                            <img src="{{ url_for('static', filename='img/payment.png') }}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Puja
                                Path</a>,
                            All right reserved.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-success border-3 border-success rounded-circle back-to-top"><i
                class="fa fa-arrow-up"></i></a>


        <!-- chat bot  -->
        <button class="chatbot-toggler">
            <span class="material-symbols-rounded">BOT</span>
            <span class="material-symbols-outlined">X</span>
        </button>
        <div class="chatbot">
            <header>
                <h2>Chatbot</h2>
                <span class="close-btn material-symbols-outlined">X</span>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-rounded" style="font-size: 24px; color: blue;">💬</span>
                    <p>Hi there 👋<br>How can I help you today?</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
            </div>
            <button class="end-chat-btn"
                style="position: absolute; bottom: 10px; right: 20px; display: none; background-color: gold; color: black; border: none; padding: 10px 20px; border-radius: 5px;">End
                Chat</button>

        </div>
        <!-- chat bot end  -->


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    </body>


</html>